body{
	margin: 0 auto;
	max-width: 1000px;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 10px 40px;
	border: 1px solid red;
}

aside{
    width: 300px;
    padding: 10px 10px 320px 10px;
    margin: 10px;
    float: left;
    background-color: #062446;
}


aside *{
	color: white;
}

main *{
	color: #062446;
}
